<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/html"
      layout:decorator="layout">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>
    <div layout:fragment="content">

        <div class="view-all-tasks">
             <a th:href="@{/to-do-tasks/view}" th:text="#{home.viewToDoTask}">View ToDoTasks</a>
        </div>
        <p>
        <div class="new-post-link">
             <a th:href="@{/to-do-tasks/new}" th:text="#{home.newToDoTask}">new ToDoTask list</a>
        </div>
        </p>
    </div>
</body>
</html>